
.header {
  background: rgba(57, 56, 63, 1);
  height: 77px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2000;
  @media (width <= 1213px) {
    padding: 0rem 2rem;
    max-width: 100%;
  }

  .burger {
    display: none;
  }
  @media (width <= 669px) {
    & .burger {
      display: flex;

      label {
        display: flex;
        flex-direction: column;
        width: 70px;
        cursor: pointer;
      }

      label span {
        background: #fff;
        border-radius: 10px;
        height: 4px;
        margin: 7px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }

      span:nth-of-type(1) {
        width: 40%;
        transform: rotatez(0deg) translate(0, 0) !important;
      }

      span:nth-of-type(2) {
        width: 80%;
        transform: rotatez(-0deg) !important;
      }

      span:nth-of-type(3) {
        width: 55%;
        transform: translate(0, -0) rotatez(0deg) !important;
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 1px);
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: bottom;
        width: 60%;
        transform: translate(15px, -13px) rotatez(45deg);
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    height: 40px;
  }
  ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  ul > li::before{
    content: '';
    width: 100%;
    background-color: #c8b552;
    height: 3px;
    visibility: hidden;
    transform: translate(-100%);
    position: absolute;
    bottom: 0;
    transition: 1s;
  }
  li > a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #f4f3e3;
  }
  li:hover::before{
    visibility: visible !important;
    transform: translate(0px);
    transition: 1s;
  }
  .header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .header_item {
      @media (width <= 670px) {
        display: none;
      }
    }

    .hedaer_link {
      margin-right: 44px;
    }
    .hedaer_link:last-child {
      margin-right: 0;
    }
  }
}
