.form {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .input_wrapper {
    max-width: 360px;
    width: 100%;
    position: relative;
  
    .input {
      height: 50px;
      font-size: 16px;
      padding: 11px 15px;
      border-radius: 4px;
      border: 1px solid #CBD8E3;
      width: 100%;
      outline: none;
      box-sizing: border-box;
  
      &:focus {
        border-color: #0088ff;
      }
  
      &:invalid:not(:placeholder-shown) {
        border-color: #F52C5C;
      }
  
      &:invalid:not(:placeholder-shown) + .placeholder {
        color: #F52C5C;
      }
  
      &:not(:placeholder-shown):not(:focus) + .placeholder {
        transform: scale(.75) translateY(-36px) translateX(-15%);
        color: #CBD8E3;
        transition: .2s ease;
      }
  
      &:focus + .placeholder {
        transform: scale(.75) translateY(-36px) translateX(-15%);
        color: #0088ff;
        transition: .2s ease;
      }
  
      &:invalid:not(:placeholder-shown).input:not(:focus) + .placeholder {
        transform: scale(.75) translateY(-36px) translateX(-15%);
        color: #F52C5C;
        transition: .2s ease;
      }
    }
  
    .placeholder {
      pointer-events: none;
      position: absolute;
      font-weight: 400;
      top: 18px;
      left: 8px;
      padding: 0 8px;
      background-color: white;
      border-radius: 5px;
      transition: transform 250ms cubic-bezier(0.4,0,0.2,1), opacity 250ms cubic-bezier(0.4,0,0.2,1);
      color: grey;
    }
  }