.NewsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1vh;

  .image {
    position: relative;
    width: 100%;
    height: 15rem;
    border-radius: 6px; 
    filter: brightness(50%);
    transition: 0.3s;
    &:hover{
      filter:brightness(80%);
    }
  }
  .date {
    color: rgb(102, 136, 172);
  }
  .info {
    color: rgb(5, 5, 19);
  }
}

@media screen and (max-width:920px) {
  .NewsCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.5vh;
  
    .image {
      position: relative;
      width: 100%;
      height: 10rem;
      border-radius: 6px;
      overflow: hidden;
      filter: brightness(50%);
      transition: 0.3s;
      &:hover{
        filter:brightness(80%);
      }
    }
    .date {
      font-weight: 600;
      color: rgb(102, 136, 172);
    }
    .info {
      color: rgb(5, 5, 19);
      font-weight: 500;
      font-size: 14px;
    }
  }
  
}

@media screen and (max-width:600px) {
  .NewsCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.5vh;
  
    .image {
      position: relative;
      width: 100%;
      height: 7rem;
      border-radius: 6px;
      overflow: hidden;
      filter: brightness(50%);
      transition: 0.3s;
      &:hover{
        filter:brightness(80%);
      }
    }
    .date {
      font-size: 12px;
      font-weight: 600;
      color: rgb(102, 136, 172);
    }
    .info {
      color: rgb(5, 5, 19);
      font-weight: 550;
      font-size: 9px;
    }
  }
  
}